<a href="https://colab.research.google.com/github/ipeirotis/introduction-to-databases/blob/master/session4/assignment_join_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 4: Join Queries Assignment


In this segment we will connect to the *Music* database.

## Setup

In [0]:
!apt-get install python3-mysqldb
!pip install sqlalchemy sql_magic

In [0]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/{db}?charset={encoding}'.format(
    host = 'db.ipeirotis.org', 
    user = 'student',
    db = 'music',
    password = 'dwdstudent2015',
    encoding = 'utf8mb4')

engine = create_engine(conn_string)
con = engine.connect()

In [0]:
%reload_ext sql_magic

In [0]:
%config SQL.conn_name = 'engine'

This is an example of how you can write an SQL query in the notebook.
You write your SQL query after the `%%read_sql` line.

In [0]:
%%read_sql
SELECT * 
FROM played

## Question 1: List all the album names by the band `New Order`

In [0]:
%%read_sql

## Question 2: List the tracks for the album `Second Coming`

In [0]:
%%read_sql

## Question 3: List all the track names, the corresponding album name, and the corresponding artist name

In [0]:
%%read_sql

## Question 4: List all all the tracks by the artist `The Stone Roses` and rank them by time length, from shortest to longest

In [0]:
%%read_sql

## Question 5: The table `played` contains the tracks that the user listened to, and the time that they listened to the songs. List the _distinct_ names of the artists that the user has listened to.

In [0]:
%%read_sql

## Question 6: List the name of the artists and albums that have tracks with time length more than 10 minutes.

In [0]:
%%read_sql

## Question 7: List the album name, the artist name, and the track names, where both the name of the album and the name of the track contain the string `love` (it is fine if it is part of a longer word).

In [0]:
%%read_sql

## Question 8: The table played contains the tracks that the user listened to, and the time that they listened to the songs. List the tracks that are in the database, but which the user has never listened to. (Note: Need an outer join).

In [0]:
%%read_sql