# SQL: JoinQueries

## Setup

We are now installing the necessary packages to interact with the MySQL database and issue SQL queries using the notebook.

In [1]:
!sudo apt-get install python3-mysqldb
!sudo pip3 install -U sqlalchemy sql_magic

Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-mysqldb is already the newest version (1.3.10-1build1).
0 upgraded, 0 newly installed, 0 to remove and 25 not upgraded.
Requirement already up-to-date: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.16)
Requirement already up-to-date: sql_magic in /usr/local/lib/python3.6/dist-packages (0.0.4)
Requirement already satisfied, skipping upgrade: findspark in /usr/local/lib/python3.6/dist-packages (from sql_magic) (1.3.0)
Requirement already satisfied, skipping upgrade: traitlets in /usr/local/lib/python3.6/dist-packages (from sql_magic) (4.3.3)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from sql_magic) (1.0.3)
Requirement already satisfied, skipping upgrade: sqlparse in /usr/local/lib/python3.6/dist-packages (from sql_magic) (0.3.1)
Requirement already satisfied, skipping upgrade: jupyter in /usr/local/lib/python3.6/dist-packages (from sql_magic) (1.0.0)
Requirement already satisfied, skipping upgrade: ipython in /usr/local/lib/python3.6/dist-packages (from sql_magic) (5.5.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets->sql_magic) (0.2.0)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from traitlets->sql_magic) (1.12.0)
Requirement already satisfied, skipping upgrade: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets->sql_magic) (4.4.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->sql_magic) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->sql_magic) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->sql_magic) (1.18.2)
Requirement already satisfied, skipping upgrade: notebook in /usr/local/lib/python3.6/dist-packages (from jupyter->sql_magic) (5.2.2)
Requirement already satisfied, skipping upgrade: nbconvert in /usr/local/lib/python3.6/dist-packages (from jupyter->sql_magic) (5.6.1)
Requirement already satisfied, skipping upgrade: jupyter-console in /usr/local/lib/python3.6/dist-packages (from jupyter->sql_magic) (5.2.0)
Requirement already satisfied, skipping upgrade: ipywidgets in /usr/local/lib/python3.6/dist-packages (from jupyter->sql_magic) (7.5.1)
Requirement already satisfied, skipping upgrade: qtconsole in /usr/local/lib/python3.6/dist-packages (from jupyter->sql_magic) (4.7.2)
Requirement already satisfied, skipping upgrade: ipykernel in /usr/local/lib/python3.6/dist-packages (from jupyter->sql_magic) (4.10.1)
Requirement already satisfied, skipping upgrade: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->sql_magic) (4.8.0)
Requirement already satisfied, skipping upgrade: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->sql_magic) (1.0.18)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython->sql_magic) (46.1.3)
Requirement already satisfied, skipping upgrade: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->sql_magic) (0.7.5)
Requirement already satisfied, skipping upgrade: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->sql_magic) (2.1.3)
Requirement already satisfied, skipping upgrade: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->sql_magic) (0.8.1)
Requirement already satisfied, skipping upgrade: jupyter-core in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter->sql_magic) (4.6.3)
Requirement already satisfied, skipping upgrade: jinja2 in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter->sql_magic) (2.11.1)
Requirement already satisfied, skipping upgrade: jupyter-client in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter->sql_magic) (5.3.4)
Requirement already satisfied, skipping upgrade: tornado>=4 in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter->sql_magic) (4.5.3)
Requirement already satisfied, skipping upgrade: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter->sql_magic) (0.8.3)
Requirement already satisfied, skipping upgrade: nbformat in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter->sql_magic) (5.0.5)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter->sql_magic) (1.4.2)
Requirement already satisfied, skipping upgrade: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter->sql_magic) (0.4.4)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter->sql_magic) (0.8.4)
Requirement already satisfied, skipping upgrade: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter->sql_magic) (3.1.4)
Requirement already satisfied, skipping upgrade: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter->sql_magic) (0.6.0)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter->sql_magic) (0.3)
Requirement already satisfied, skipping upgrade: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->jupyter->sql_magic) (3.5.1)
Requirement already satisfied, skipping upgrade: qtpy in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter->sql_magic) (1.9.0)
Requirement already satisfied, skipping upgrade: pyzmq>=17.1 in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter->sql_magic) (19.0.0)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->sql_magic) (0.6.0)
Requirement already satisfied, skipping upgrade: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->sql_magic) (0.1.9)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->notebook->jupyter->sql_magic) (1.1.1)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat->notebook->jupyter->sql_magic) (2.6.0)
Requirement already satisfied, skipping upgrade: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->jupyter->sql_magic) (0.5.1)

In [7]:
%reload_ext sql_magic

In [0]:
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/?charset=utf8'.format(
    host='db.ipeirotis.org',
    user='student',
    password='dwdstudent2015',
    encoding='utf-8')
engine = create_engine(conn_string)

In [0]:
%config SQL.conn_name = 'engine'

## Poor man's joins: Find the genres that Steven Spielberg typically directs

Use the table directors_genres  and find all genres of films and the corresponding probabilities for the director ID that corresponds to Steven Spielberg. Sort the results by probability.

#### Switch to IMDb

In [59]:
%%read_sql
USE imdb

Query started at 03:08:30 AM UTC; Query executed in 0.03 m

#### Find the entry for Steven Spielberg to find his id

In [60]:
%%read_sql
SELECT *
FROM directors 
WHERE first_name = 'Steven' AND last_name = 'Spielberg'

Query started at 03:08:31 AM UTC; Query executed in 0.01 m

      id first_name  last_name
0  75380     Steven  Spielberg

#### Query the `directors_genres` table for Spielberg movies (pick director id value from previous query)

In [61]:
%%read_sql
SELECT *
FROM directors_genres
WHERE director_id = 75380
ORDER BY prob DESC

Query started at 03:08:32 AM UTC; Query executed in 0.01 m

    director_id        genre      prob
0         75380        Drama  0.435897
1         75380     Thriller  0.282051
2         75380    Adventure  0.282051
3         75380       Sci-Fi  0.256410
4         75380       Action  0.230769
5         75380       Horror  0.179487
6         75380        Short  0.128205
7         75380      Fantasy  0.102564
8         75380          War  0.102564
9         75380        Crime  0.102564
10        75380       Comedy  0.076923
11        75380       Family  0.076923
12        75380      Mystery  0.051282
13        75380      Romance  0.051282
14        75380      Western  0.025641
15        75380  Documentary  0.025641

## Simple Join Queries

#### Switch to IMDb

In [62]:
%%read_sql
USE imdb

Query started at 03:08:32 AM UTC; Query executed in 0.01 m

#### List all the movies and their genres

In [63]:
%%read_sql
SELECT *
FROM movies M 
  INNER JOIN movies_genres G ON M.id = G.movie_id

Query started at 03:08:33 AM UTC; Query executed in 0.05 m

            id                                 name  ...  movie_id        genre
0            1  #7 Train: An Immigrant Journey, The  ...         1        Short
1            1  #7 Train: An Immigrant Journey, The  ...         1  Documentary
2            2                                    $  ...         2        Crime
3            2                                    $  ...         2       Comedy
4            5                        $1,000 Reward  ...         5      Western
...        ...                                  ...  ...       ...          ...
395445  378612                       nz de mihlarim  ...    378612    Adventure
395446  378612                       nz de mihlarim  ...    378612        Drama
395447  378613                        egar a gerist  ...    378613       Comedy
395448  378613                        egar a gerist  ...    378613        Drama
395449  378614                              . 19,99  ...    378614       Comedy

[395450 rows x 6 columns]

#### List the movie genres for the movies directed by Steven Spielberg and sort them in decreasing order of their probability (use the director_genres table)

In [64]:
%%read_sql
SELECT *
FROM directors D
  INNER JOIN directors_genres G ON G.director_id = D.id
WHERE D.first_name = 'Steven' AND D.last_name = 'Spielberg'
ORDER BY G.prob DESC

Query started at 03:08:36 AM UTC; Query executed in 0.01 m

       id first_name  last_name  director_id        genre      prob
0   75380     Steven  Spielberg        75380        Drama  0.435897
1   75380     Steven  Spielberg        75380     Thriller  0.282051
2   75380     Steven  Spielberg        75380    Adventure  0.282051
3   75380     Steven  Spielberg        75380       Sci-Fi  0.256410
4   75380     Steven  Spielberg        75380       Action  0.230769
5   75380     Steven  Spielberg        75380       Horror  0.179487
6   75380     Steven  Spielberg        75380        Short  0.128205
7   75380     Steven  Spielberg        75380          War  0.102564
8   75380     Steven  Spielberg        75380      Fantasy  0.102564
9   75380     Steven  Spielberg        75380        Crime  0.102564
10  75380     Steven  Spielberg        75380       Family  0.076923
11  75380     Steven  Spielberg        75380       Comedy  0.076923
12  75380     Steven  Spielberg        75380      Romance  0.051282
13  75380     Steven  Spielberg        75380      Mystery  0.051282
14  75380     Steven  Spielberg        75380      Western  0.025641
15  75380     Steven  Spielberg        75380  Documentary  0.025641

In [65]:
%%read_sql
SELECT G.genre, G.prob
FROM directors D
  INNER JOIN directors_genres G ON G.director_id = D.id
WHERE D.first_name = 'Steven' AND D.last_name = 'Spielberg'
ORDER BY G.prob DESC

Query started at 03:08:36 AM UTC; Query executed in 0.01 m

          genre      prob
0         Drama  0.435897
1      Thriller  0.282051
2     Adventure  0.282051
3        Sci-Fi  0.256410
4        Action  0.230769
5        Horror  0.179487
6         Short  0.128205
7       Fantasy  0.102564
8           War  0.102564
9         Crime  0.102564
10       Comedy  0.076923
11       Family  0.076923
12      Romance  0.051282
13      Mystery  0.051282
14      Western  0.025641
15  Documentary  0.025641

#### List all the movies and their directors

In [66]:
%%read_sql
SELECT *
FROM directors D
  INNER JOIN movies_directors MD ON MD.director_id = D.id
  INNER JOIN movies M ON M.id = MD.movie_id

Query started at 03:08:37 AM UTC; Query executed in 0.20 m

           id first_name  ...  year  rank
0           1       Todd  ...  2004   NaN
1           2        Les  ...  2002   NaN
2           3    Lejaren  ...  1921   NaN
3           3    Lejaren  ...  1920   NaN
4           4       Nian  ...  1997   NaN
...       ...        ...  ...   ...   ...
380655  88797      Yusuf  ...  1988   NaN
380656  88798      Ahmet  ...  1972   NaN
380657  88799       Idil  ...  2001   8.5
380658  88800     Yüksel  ...  1951   NaN
380659  88801      Ahmet  ...  1957   NaN

[380660 rows x 9 columns]

In [67]:
%%read_sql
SELECT MD.director_id, D.first_name AS director_first_name, D.last_name AS director_last_name,
       MD.movie_id, M.name AS movie_title, M.year AS release_year, M.rank AS movie_rating 
FROM directors D
  INNER JOIN movies_directors MD ON MD.director_id = D.id
  INNER JOIN movies M ON M.id = MD.movie_id

Query started at 03:08:49 AM UTC; Query executed in 0.18 m

        director_id director_first_name  ... release_year  movie_rating
0                 1                Todd  ...         2004           NaN
1                 2                 Les  ...         2002           NaN
2                 3             Lejaren  ...         1921           NaN
3                 3             Lejaren  ...         1920           NaN
4                 4                Nian  ...         1997           NaN
...             ...                 ...  ...          ...           ...
380655        88797               Yusuf  ...         1988           NaN
380656        88798               Ahmet  ...         1972           NaN
380657        88799                Idil  ...         2001           8.5
380658        88800              Yüksel  ...         1951           NaN
380659        88801               Ahmet  ...         1957           NaN

[380660 rows x 7 columns]

#### List all the movies directed by Steven Spielberg

In [68]:
%%read_sql
SELECT MD.director_id, D.first_name AS director_first_name, D.last_name AS director_last_name,
       MD.movie_id, M.name AS movie_title, M.year AS release_year, M.rank AS movie_rating 
FROM directors D
  INNER JOIN movies_directors MD ON MD.director_id = D.id
  INNER JOIN movies M ON M.id = MD.movie_id
WHERE D.first_name = 'Steven' AND D.last_name = 'Spielberg'
ORDER BY M.rank DESC

Query started at 03:08:59 AM UTC; Query executed in 0.01 m

    director_id director_first_name  ... release_year  movie_rating
0         75380              Steven  ...         1961           9.1
1         75380              Steven  ...         1964           9.0
2         75380              Steven  ...         1993           8.8
3         75380              Steven  ...         1981           8.7
4         75380              Steven  ...         1967           8.6
5         75380              Steven  ...         1968           8.4
6         75380              Steven  ...         1959           8.4
7         75380              Steven  ...         1998           8.3
8         75380              Steven  ...         1975           8.2
9         75380              Steven  ...         1989           8.0
10        75380              Steven  ...         1977           7.8
11        75380              Steven  ...         1982           7.8
12        75380              Steven  ...         2002           7.8
13        75380              Steven  ...         2002           7.7
14        75380              Steven  ...         1985           7.6
15        75380              Steven  ...         1999           7.5
16        75380              Steven  ...         1987           7.4
17        75380              Steven  ...         1984           7.2
18        75380              Steven  ...         1982           7.2
19        75380              Steven  ...         2004           7.1
20        75380              Steven  ...         1997           7.0
21        75380              Steven  ...         2001           6.9
22        75380              Steven  ...         1961           6.8
23        75380              Steven  ...         1974           6.6
24        75380              Steven  ...         1989           6.2
25        75380              Steven  ...         1983           6.0
26        75380              Steven  ...         1991           5.7
27        75380              Steven  ...         1979           5.5
28        75380              Steven  ...         1971           NaN
29        75380              Steven  ...         1970           NaN
30        75380              Steven  ...         1985           NaN
31        75380              Steven  ...         1990           NaN
32        75380              Steven  ...         1971           NaN
33        75380              Steven  ...         1992           NaN
34        75380              Steven  ...         1971           NaN
35        75380              Steven  ...         1973           NaN
36        75380              Steven  ...         1970           NaN
37        75380              Steven  ...         1969           NaN
38        75380              Steven  ...         1996           NaN
39        75380              Steven  ...         1985           NaN
40        75380              Steven  ...         1984           NaN
41        75380              Steven  ...         2006           NaN
42        75380              Steven  ...         1971           NaN
43        75380              Steven  ...         2006           NaN
44        75380              Steven  ...         1969           NaN
45        75380              Steven  ...         1972           NaN
46        75380              Steven  ...         2005           NaN
47        75380              Steven  ...         1971           NaN

[48 rows x 7 columns]

## Join Practice Queries: Drama movies from 2000

#### Switch to IMDb

In [69]:
%%read_sql
USE imdb

Query started at 03:09:00 AM UTC; Query executed in 0.01 m

#### List all the movies from year 2000

In [70]:
%%read_sql
SELECT *
FROM movies
WHERE year=2000

Query started at 03:09:00 AM UTC; Query executed in 0.01 m

           id                                               name  year  rank
0           1                #7 Train: An Immigrant Journey, The  2000   NaN
1          31                                              $pent  2000   4.3
2          34                                            & frres  2000   NaN
3          46      '70s: The Decade That Changed Television, The  2000   NaN
4         176  'N Sync & Britney Spears: Your #1 Video Reques...  2000   NaN
...       ...                                                ...   ...   ...
11638  412155                                 "Quin dijo miedo?"  2000   NaN
11639  412218                                     "ndernes magt"  2000   NaN
11640  412221                                         "pent hus"  2000   NaN
11641  412232                           "a s'en va et a revient"  2000   NaN
11642  412267                                     "v Hangja, Az"  2000   NaN

[11643 rows x 4 columns]

#### List all the movies from year 2000 and their genres

In [71]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000

Query started at 03:09:01 AM UTC; Query executed in 0.01 m

           id  ...        genre
0           1  ...        Short
1           1  ...  Documentary
2          31  ...        Drama
3          34  ...        Short
4          46  ...  Documentary
...       ...  ...          ...
12138  378537  ...        Short
12139  378550  ...       Comedy
12140  378550  ...        Crime
12141  378550  ...        Drama
12142  378557  ...  Documentary

[12143 rows x 6 columns]

#### List all the Drama movies from year 2000

In [72]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000 AND G.genre = 'Drama'

Query started at 03:09:02 AM UTC; Query executed in 0.02 m

          id  ...  genre
0         31  ...  Drama
1        428  ...  Drama
2        598  ...  Drama
3        992  ...  Drama
4       1023  ...  Drama
...      ...  ...    ...
1864  377490  ...  Drama
1865  378026  ...  Drama
1866  378121  ...  Drama
1867  378308  ...  Drama
1868  378550  ...  Drama

[1869 rows x 6 columns]

#### List all the Drama movies from year 2000 with ratings

In [73]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000 AND G.genre = 'Drama' AND M.rank IS NOT NULL

Query started at 03:09:03 AM UTC; Query executed in 0.02 m

         id                                               name  ...  movie_id  genre
0        31                                              $pent  ...        31  Drama
1       428                      ...Or Forever Hold Your Peace  ...       428  Drama
2      1160                                   15-Sai: Gakko IV  ...      1160  Drama
3      1351                                                 19  ...      1351  Drama
4      1784                                                 21  ...      1784  Drama
..      ...                                                ...  ...       ...    ...
936  376257                                 Zwarte meteoor, De  ...    376257  Drama
937  376518  Zycie jako smiertelna choroba przenoszona drog...  ...    376518  Drama
938  378121                                    skabrn jarinnar  ...    378121  Drama
939  378308  tztalmann und seine Welt. Das Jahr bevor er sc...  ...    378308  Drama
940  378550                                       berfall, Der  ...    378550  Drama

[941 rows x 6 columns]

#### List the top-50 Drama movies from year 2000, based on the ratings

In [74]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000 AND G.genre = 'Drama' AND M.rank IS NOT NULL
ORDER BY M.rank DESC
LIMIT 50

Query started at 03:09:04 AM UTC; Query executed in 0.02 m

        id                                   name  year  rank  movie_id  genre
0   102311                          Era outra vez  2000   9.6    102311  Drama
1   104266                                   Etat  2000   9.3    104266  Drama
2   123371                               Game Day  2000   9.2    123371  Drama
3   121732               Funeral de los dedos, El  2000   9.2    121732  Drama
4   206201                   Markova: Comfort Gay  2000   9.1    206201  Drama
5   345028                      Un amor de Borges  2000   9.1    345028  Drama
6   249287                       Paromitar Ek Din  2000   9.0    249287  Drama
7    46522                                Breathe  2000   9.0     46522  Drama
8   289644  Scarlett Mecca and the Pentagram Girl  2000   8.9    289644  Drama
9    70865                              Coronacin  2000   8.9     70865  Drama
10   24206                   Aunque t no lo sepas  2000   8.9     24206  Drama
11   15240                                  Amlia  2000   8.8     15240  Drama
12  343645                        Tnica Dominante  2000   8.8    343645  Drama
13   82336                   Delicate Instruments  2000   8.8     82336  Drama
14  305099                         Slobodno mesto  2000   8.7    305099  Drama
15   17298                                  Anino  2000   8.7     17298  Drama
16   63783                                Cicadas  2000   8.7     63783  Drama
17  272606                              Rat uzivo  2000   8.7    272606  Drama
18  210511                                Memento  2000   8.7    210511  Drama
19  314129                            Steaks, The  2000   8.6    314129  Drama
20  218876                                  Moosh  2000   8.6    218876  Drama
21   84205                        Destiny Stalled  2000   8.6     84205  Drama
22  222052                   Mujhay Chand Chahiye  2000   8.6    222052  Drama
23  145441                               Himawari  2000   8.6    145441  Drama
24   46611                Brennand - De Ovo Omnia  2000   8.5     46611  Drama
25  139399                             Hari-Bhari  2000   8.4    139399  Drama
26  376182                         Zurck auf Los!  2000   8.4    376182  Drama
27   24496                 Auto da Compadecida, O  2000   8.4     24496  Drama
28   36165                               Bharathi  2000   8.4     36165  Drama
29   73655                   Cronicamente Invivel  2000   8.4     73655  Drama
30  276085                    Requiem for a Dream  2000   8.4    276085  Drama
31   64978                            Ciudad de M  2000   8.3     64978  Drama
32    2976                       7 ddssyndene, De  2000   8.3      2976  Drama
33  332140                  Thung lung hoang vang  2000   8.3    332140  Drama
34  116554                              Followers  2000   8.3    116554  Drama
35   62117                         Chinese Coffee  2000   8.3     62117  Drama
36  241022                         Once (2000/II)  2000   8.3    241022  Drama
37  367149                        Wo hu cang long  2000   8.3    367149  Drama
38  135648                           Guizi lai le  2000   8.3    135648  Drama
39  118581                 Foxy Lady, Wild Cherry  2000   8.2    118581  Drama
40  144386                                Hey Ram  2000   8.2    144386  Drama
41   87891             Distinct Smell of Red, The  2000   8.2     87891  Drama
42   98339          Einsamkeit der Krokodile, Die  2000   8.2     98339  Drama
43  329638                                   Thaw  2000   8.2    329638  Drama
44   28070                           Bakha satang  2000   8.2     28070  Drama
45   31462                   Bayaning Third World  2000   8.2     31462  Drama
46   14942                          Amores perros  2000   8.2     14942  Drama
47  329884                                Thenali  2000   8.2    329884  Drama
48  353195                      Viaje de Arin, El  2000   8.1    353195  Drama
49   46116                 Brava Gente Brasileira  2000   8.1     46116  Drama

## Join Practice Queries: James Bond movies

#### Switch to IMDb

In [75]:
%%read_sql
USE imdb

Query started at 03:09:05 AM UTC; Query executed in 0.01 m

#### List all the movies where there is an actor with the role ‘James Bond’

In [76]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN roles R ON R.movie_id = M.id
WHERE R.role = 'James Bond'

Query started at 03:09:05 AM UTC; Query executed in 0.01 m

        id                   name  year  rank  actor_id  movie_id        role
0    21756               Ashakara  1991   NaN      7279     21756  James Bond
1   130945              GoldenEye  1997   NaN     32400    130945  James Bond
2      531  007: Agent Under Fire  2001   NaN     42148       531  James Bond
3      530             007 Racing  2000   NaN     44840       530  James Bond
4      531  007: Agent Under Fire  2001   NaN     44840       531  James Bond
..     ...                    ...   ...   ...       ...       ...         ...
56  140431         Hawaa wal kerd  1968   NaN    341028    140431  James Bond
57   76256                    D4G  2000   NaN    471425     76256  James Bond
58  245547    Outwitted (1917/II)  1917   NaN    480224    245547  James Bond
59  123256                Gam gai  2002   7.5    480564    123256  James Bond
60   66192                 Clue??  1988   NaN    495869     66192  James Bond

[61 rows x 7 columns]

#### List the actors who played ‘James Bond’

In [77]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
WHERE R.role = 'James Bond'

Query started at 03:09:06 AM UTC; Query executed in 0.01 m

        id   first_name  last_name gender  actor_id  movie_id        role
0     7279   Bahoumodom        Ali      M      7279     21756  James Bond
1    32400        Kevin    Bayliss      M     32400    130945  James Bond
2    42148       Andrew   Bicknell      M     42148       531  James Bond
3    44840         Adam  Blackwood      M     44840       530  James Bond
4    44840         Adam  Blackwood      M     44840       531  James Bond
..     ...          ...        ...    ...       ...       ...         ...
56  341028        Salah      Nazmi      M    341028    140431  James Bond
57  471425  George (VI)     Thomas      M    471425     76256  James Bond
58  480224        Frank  Truesdell      M    480224    245547  James Bond
59  480564     Eric (I)      Tsang      M    480564    123256  James Bond
60  495869         Paul       Vnuk      M    495869     66192  James Bond

[61 rows x 7 columns]

#### List the actors who played ‘James Bond’ and the name of the movie

In [78]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE R.role = 'James Bond'

Query started at 03:09:06 AM UTC; Query executed in 0.01 m

        id   first_name  last_name  ...                   name  year  rank
0     7279   Bahoumodom        Ali  ...               Ashakara  1991   NaN
1    32400        Kevin    Bayliss  ...              GoldenEye  1997   NaN
2    42148       Andrew   Bicknell  ...  007: Agent Under Fire  2001   NaN
3    44840         Adam  Blackwood  ...             007 Racing  2000   NaN
4    44840         Adam  Blackwood  ...  007: Agent Under Fire  2001   NaN
..     ...          ...        ...  ...                    ...   ...   ...
56  341028        Salah      Nazmi  ...         Hawaa wal kerd  1968   NaN
57  471425  George (VI)     Thomas  ...                    D4G  2000   NaN
58  480224        Frank  Truesdell  ...    Outwitted (1917/II)  1917   NaN
59  480564     Eric (I)      Tsang  ...                Gam gai  2002   7.5
60  495869         Paul       Vnuk  ...                 Clue??  1988   NaN

[61 rows x 11 columns]

#### List the actors who played ‘James Bond’ and the name of the movie. Rank the result by rating

In [79]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE R.role = 'James Bond'
ORDER BY M.rank DESC

Query started at 03:09:07 AM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0    93861       Sean  ...  1964  7.7
1   480564   Eric (I)  ...  2002  7.5
2    93861       Sean  ...  1963  7.3
3    93861       Sean  ...  1962  7.2
4   328803  Roger (I)  ...  1977  6.9
..     ...        ...  ...   ...  ...
56   59376     Pierce  ...  2000  NaN
57  269903     George  ...  2000  NaN
58   59376     Pierce  ...  2000  NaN
59  269903     George  ...  1998  NaN
60   32400      Kevin  ...  1997  NaN

[61 rows x 11 columns]

#### List the actors who played ‘James Bond’ and the name of the movie. Rank the result by year

In [80]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE R.role = 'James Bond'
ORDER BY M.year

Query started at 03:09:07 AM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   480224      Frank  ...  1917  NaN
1    93861       Sean  ...  1962  7.2
2    93861       Sean  ...  1963  7.3
3    93861       Sean  ...  1964  7.7
4    93861       Sean  ...  1965  6.8
..     ...        ...  ...   ...  ...
56   42148     Andrew  ...  2001  NaN
57   78159    Maxwell  ...  2002  NaN
58   59376     Pierce  ...  2002  6.4
59  480564   Eric (I)  ...  2002  7.5
60   59376     Pierce  ...  2004  NaN

[61 rows x 11 columns]

## JOIN practice queries: Brad Pitt movies

#### List all the movies where Brad Pitt is playing

In [81]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'

Query started at 03:09:08 AM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  2004  NaN
1   376249       Brad  ...  1995  NaN
2   376249       Brad  ...  2002  NaN
3   376249       Brad  ...  2004  NaN
4   376249       Brad  ...  2002  NaN
5   376249       Brad  ...  1995  NaN
6   376249       Brad  ...  2000  NaN
7   376249       Brad  ...  2003  4.4
8   376249       Brad  ...  1991  5.4
9   376249       Brad  ...  2001  NaN
10  376249       Brad  ...  2000  NaN
11  376249       Brad  ...  1999  7.9
12  376249       Brad  ...  2002  7.1
13  376249       Brad  ...  1992  6.3
14  376249       Brad  ...  1992  4.1
15  376249       Brad  ...  1997  4.7
16  376249       Brad  ...  1997  5.7
17  376249       Brad  ...  1994  5.0
18  376249       Brad  ...  1999  8.5
19  376249       Brad  ...  2002  5.1
20  376249       Brad  ...  2001  NaN
21  376249       Brad  ...  1996  NaN
22  376249       Brad  ...  1989  5.1
23  376249       Brad  ...  1990  NaN
24  376249       Brad  ...  1994  7.1
25  376249       Brad  ...  2002  NaN
26  376249       Brad  ...  1991  5.8
27  376249       Brad  ...  1993  6.6
28  376249       Brad  ...  1994  6.7
29  376249       Brad  ...  1987  5.5
30  376249       Brad  ...  2004  NaN
31  376249       Brad  ...  1998  6.5
32  376249       Brad  ...  2001  6.0
33  376249       Brad  ...  2005  NaN
34  376249       Brad  ...  1987  5.2
35  376249       Brad  ...  2001  7.5
36  376249       Brad  ...  2004  NaN
37  376249       Brad  ...  2000  NaN
38  376249       Brad  ...  1992  7.1
39  376249       Brad  ...  1995  8.4
40  376249       Brad  ...  1997  6.6
41  376249       Brad  ...  2002  NaN
42  376249       Brad  ...  2003  6.4
43  376249       Brad  ...  1996  7.0
44  376249       Brad  ...  2000  7.9
45  376249       Brad  ...  2001  7.0
46  376249       Brad  ...  1988  NaN
47  376249       Brad  ...  1991  7.3
48  376249       Brad  ...  2003  NaN
49  376249       Brad  ...  1990  NaN
50  376249       Brad  ...  1997  NaN
51  376249       Brad  ...  2004  7.0
52  376249       Brad  ...  1993  7.7
53  376249       Brad  ...  1995  7.9
54  376249       Brad  ...  1991  NaN
55  376249       Brad  ...  2002  NaN
56  376249       Brad  ...  1964  NaN
57  376249       Brad  ...  1990  NaN
58  376249       Brad  ...  2001  NaN

[59 rows x 11 columns]

#### List all the movies where Brad Pitt is playing. Exclude the movies where he plays “himself”

In [82]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'
  AND R.role NOT LIKE '%%himself%%'

Query started at 03:09:08 AM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  1991  5.4
1   376249       Brad  ...  2002  7.1
2   376249       Brad  ...  1992  6.3
3   376249       Brad  ...  1992  4.1
4   376249       Brad  ...  1997  4.7
5   376249       Brad  ...  1997  5.7
6   376249       Brad  ...  1994  5.0
7   376249       Brad  ...  1999  8.5
8   376249       Brad  ...  2001  NaN
9   376249       Brad  ...  1989  5.1
10  376249       Brad  ...  1990  NaN
11  376249       Brad  ...  1994  7.1
12  376249       Brad  ...  1991  5.8
13  376249       Brad  ...  1993  6.6
14  376249       Brad  ...  1994  6.7
15  376249       Brad  ...  1987  5.5
16  376249       Brad  ...  1998  6.5
17  376249       Brad  ...  2001  6.0
18  376249       Brad  ...  2005  NaN
19  376249       Brad  ...  1987  5.2
20  376249       Brad  ...  2001  7.5
21  376249       Brad  ...  2004  NaN
22  376249       Brad  ...  1992  7.1
23  376249       Brad  ...  1995  8.4
24  376249       Brad  ...  1997  6.6
25  376249       Brad  ...  2003  6.4
26  376249       Brad  ...  1996  7.0
27  376249       Brad  ...  2000  7.9
28  376249       Brad  ...  2001  7.0
29  376249       Brad  ...  1988  NaN
30  376249       Brad  ...  1991  7.3
31  376249       Brad  ...  1990  NaN
32  376249       Brad  ...  2004  7.0
33  376249       Brad  ...  1993  7.7
34  376249       Brad  ...  1995  7.9
35  376249       Brad  ...  1991  NaN
36  376249       Brad  ...  2002  NaN
37  376249       Brad  ...  1964  NaN
38  376249       Brad  ...  1990  NaN

[39 rows x 11 columns]

#### List all the movies where Brad Pitt is playing. Exclude the movies where he plays “himself”. Rank the result by movie rating.

In [83]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'
  AND R.role NOT LIKE '%%himself%%'
ORDER BY M.rank DESC

Query started at 03:09:08 AM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  1999  8.5
1   376249       Brad  ...  1995  8.4
2   376249       Brad  ...  1995  7.9
3   376249       Brad  ...  2000  7.9
4   376249       Brad  ...  1993  7.7
5   376249       Brad  ...  2001  7.5
6   376249       Brad  ...  1991  7.3
7   376249       Brad  ...  1994  7.1
8   376249       Brad  ...  1992  7.1
9   376249       Brad  ...  2002  7.1
10  376249       Brad  ...  1996  7.0
11  376249       Brad  ...  2004  7.0
12  376249       Brad  ...  2001  7.0
13  376249       Brad  ...  1994  6.7
14  376249       Brad  ...  1993  6.6
15  376249       Brad  ...  1997  6.6
16  376249       Brad  ...  1998  6.5
17  376249       Brad  ...  2003  6.4
18  376249       Brad  ...  1992  6.3
19  376249       Brad  ...  2001  6.0
20  376249       Brad  ...  1991  5.8
21  376249       Brad  ...  1997  5.7
22  376249       Brad  ...  1987  5.5
23  376249       Brad  ...  1991  5.4
24  376249       Brad  ...  1987  5.2
25  376249       Brad  ...  1989  5.1
26  376249       Brad  ...  1994  5.0
27  376249       Brad  ...  1997  4.7
28  376249       Brad  ...  1992  4.1
29  376249       Brad  ...  1990  NaN
30  376249       Brad  ...  1990  NaN
31  376249       Brad  ...  2005  NaN
32  376249       Brad  ...  1964  NaN
33  376249       Brad  ...  2002  NaN
34  376249       Brad  ...  1990  NaN
35  376249       Brad  ...  1988  NaN
36  376249       Brad  ...  1991  NaN
37  376249       Brad  ...  2004  NaN
38  376249       Brad  ...  2001  NaN

[39 rows x 11 columns]

#### List all the movies where Brad Pitt is playing. Exclude the movies where he plays “himself”. Rank the result by year.

In [84]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'
  AND R.role NOT LIKE '%%himself%%'
ORDER BY M.year

Query started at 03:09:09 AM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  1964  NaN
1   376249       Brad  ...  1987  5.2
2   376249       Brad  ...  1987  5.5
3   376249       Brad  ...  1988  NaN
4   376249       Brad  ...  1989  5.1
5   376249       Brad  ...  1990  NaN
6   376249       Brad  ...  1990  NaN
7   376249       Brad  ...  1990  NaN
8   376249       Brad  ...  1991  5.4
9   376249       Brad  ...  1991  5.8
10  376249       Brad  ...  1991  7.3
11  376249       Brad  ...  1991  NaN
12  376249       Brad  ...  1992  4.1
13  376249       Brad  ...  1992  7.1
14  376249       Brad  ...  1992  6.3
15  376249       Brad  ...  1993  6.6
16  376249       Brad  ...  1993  7.7
17  376249       Brad  ...  1994  5.0
18  376249       Brad  ...  1994  7.1
19  376249       Brad  ...  1994  6.7
20  376249       Brad  ...  1995  8.4
21  376249       Brad  ...  1995  7.9
22  376249       Brad  ...  1996  7.0
23  376249       Brad  ...  1997  5.7
24  376249       Brad  ...  1997  6.6
25  376249       Brad  ...  1997  4.7
26  376249       Brad  ...  1998  6.5
27  376249       Brad  ...  1999  8.5
28  376249       Brad  ...  2000  7.9
29  376249       Brad  ...  2001  7.5
30  376249       Brad  ...  2001  6.0
31  376249       Brad  ...  2001  7.0
32  376249       Brad  ...  2001  NaN
33  376249       Brad  ...  2002  NaN
34  376249       Brad  ...  2002  7.1
35  376249       Brad  ...  2003  6.4
36  376249       Brad  ...  2004  7.0
37  376249       Brad  ...  2004  NaN
38  376249       Brad  ...  2005  NaN

[39 rows x 11 columns]

## JOIN Practice Queries: Facebook

#### Switch to Facebook

In [30]:
%%read_sql
USE facebook;

Query started at 03:52:16 AM UTC; Query executed in 0.01 m

#### List all the Single students

In [86]:
%%read_sql
SELECT *
FROM Profiles P
  INNER JOIN Relationship R ON R.ProfileID = P.ProfileID
WHERE R.Status = 'Single'

Query started at 03:09:09 AM UTC; Query executed in 0.01 m

     ProfileID                         Name  ... ProfileID  Status
0       800002                Brian Whitton  ...    800002  Single
1       800004                    Sunny Kim  ...    800004  Single
2       800005                 Ariel Podwal  ...    800005  Single
3       800008                Stephanie Lai  ...    800008  Single
4       800010                Jeff Chlystun  ...    800010  Single
...        ...                          ...  ...       ...     ...
7867    834604                      Sao Her  ...    834604  Single
7868    834605                   Haby Barry  ...    834605  Single
7869    834614                 Noah Shibley  ...    834614  Single
7870    834628  Ryan 'Millionaire' Jeffries  ...    834628  Single
7871    834634                  David Namer  ...    834634  Single

[7872 rows x 21 columns]

#### List all the Single students who live in Palladium (as declared in the “Residence” attribute).  Allow for flexible matching of the “Residence” as people list Palladium in different manner (e.g “Palladium 101” vs “Palladium”)

In [87]:
%%read_sql
SELECT *
FROM Profiles P
  INNER JOIN Relationship R ON R.ProfileID = P.ProfileID
WHERE R.Status = 'Single' AND P.Residence LIKE 'Palladium%%'

Query started at 03:09:10 AM UTC; Query executed in 0.01 m

    ProfileID                 Name MemberSince  ... CurrentState ProfileID  Status
0      800005         Ariel Podwal  2004-03-22  ...         None    800005  Single
1      800012            Josh Fern  2004-03-22  ...         None    800012  Single
2      800033      Santosh Sateesh  2004-03-22  ...         None    800033  Single
3      800084            McCoy Jen  2004-03-23  ...         None    800084  Single
4      800142   Kristi Satterwhite  2004-03-24  ...         None    800142  Single
..        ...                  ...         ...  ...          ...       ...     ...
279    830963          Julie Tower  2005-10-04  ...         None    830963  Single
280    831635  Chrystina Castellon  2005-10-22  ...         None    831635  Single
281    831687       Chike Chukwuma  2005-10-23  ...         None    831687  Single
282    831807      Michitaka Koike  2005-10-26  ...         None    831807  Single
283    832612       Cecil Nicholls  2005-11-17  ...         None    832612  Single

[284 rows x 21 columns]

#### List all the Single students LookingFor “random play”. List their AIM and their gender in the results.

In [88]:
%%read_sql
SELECT P.AIM, P.Sex
FROM Profiles P
  INNER JOIN Relationship R ON R.ProfileID = P.ProfileID
  INNER JOIN LookingFor L ON L.ProfileID = P.ProfileID
WHERE R.Status = 'Single' AND L.LookingFor = 'Random Play'

Query started at 03:09:11 AM UTC; Query executed in 0.01 m

                  AIM     Sex
0       RedGiraffeBot    Male
1       Quickstep1001  Female
2     iheartjavelinas    Male
3         JTMarlin909    Male
4              SVENNN    Male
...               ...     ...
1368      mariposa943  Female
1369           pfk111    Male
1370       latinafv99  Female
1371          neo7386    Male
1372             None    Male

[1373 rows x 2 columns]

#### List all the students who have “The Killers” as favorite Music

In [31]:
%%read_sql
SELECT P.*
FROM Profiles P
  INNER JOIN FavoriteMusic M ON M.ProfileID = P.ProfileID
WHERE M.Music = 'The Killers'

Query started at 03:52:21 AM UTC; Query executed in 0.01 m

               AIM     Sex
0      sunnyi3unny  Female
1     bazketcase45    Male
2       BluEyes402  Female
3          ajcr333    Male
4          kcramos  Female
...            ...     ...
1104          None  Female
1105     laurie795  Female
1106          None  Female
1107     mrbean664  Female
1108   saynotohate  Female

[1109 rows x 2 columns]

#### List all the Finance students who like the book “1984”

In [32]:
%%read_sql
SELECT P.*
FROM Profiles P
  INNER JOIN FavoriteBooks B ON B.ProfileID = P.ProfileID
WHERE B.Book = '1984'

Query started at 03:53:04 AM UTC; Query executed in 0.01 m

     ProfileID                Name  ...         CurrentTown CurrentState
0       800010       Jeff Chlystun  ...                None         None
1       800017         Kelly Quann  ...                None         None
2       800027        Dave Birinyi  ...                None         None
3       800078     Maribelle Kwong  ...                None         None
4       800120         Nick Herman  ...                None         None
..         ...                 ...  ...                 ...          ...
720     832874   Michelle Ferguson  ...                None         None
721     832906    Ila Hess Luciano  ...                None         None
722     833175  Courtney Balestier  ...                None         None
723     833227       Joby Thoyalil  ...  Brooklyn, NY 11225         None
724     834290      Nicole Luthman  ...                None         None

[725 rows x 19 columns]

## Self Joins

#### Switch to IMDb

In [89]:
%%read_sql
USE imdb;

Query started at 03:09:11 AM UTC; Query executed in 0.01 m

#### List the movies in the database that have both drama and comedy listed among their genres

In [90]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G1 ON G1.movie_id = M.id
  INNER JOIN movies_genres G2 ON G2.movie_id = M.id
WHERE G1.genre = 'Drama' AND G2.genre = 'Comedy'

Query started at 03:09:11 AM UTC; Query executed in 0.04 m

          id                        name  year  ...  genre  movie_id   genre
0         21                   $5.15/Hr.  2004  ...  Drama        21  Comedy
1        344          ...All the Marbles  1981  ...  Drama       344  Comedy
2        359        ...Aur Pyaar Ho Gaya  1997  ...  Drama       359  Comedy
3        361    ...Because She Disobeyed  1935  ...  Drama       361  Comedy
4        362             ...Belpaese, Il  1977  ...  Drama       362  Comedy
...      ...                         ...   ...  ...    ...       ...     ...
6724  378404      ltimo amor de Goya, El  1946  ...  Drama    378404  Comedy
6725  378497  ltimos das de Pompeyo, Los  1940  ...  Drama    378497  Comedy
6726  378550                berfall, Der  2000  ...  Drama    378550  Comedy
6727  378579              skdar Iskelesi  1960  ...  Drama    378579  Comedy
6728  378613               egar a gerist  1998  ...  Drama    378613  Comedy

[6729 rows x 8 columns]

#### Switch to Facebook

In [93]:
%%read_sql
USE facebook;

Query started at 03:09:52 AM UTC; Query executed in 0.01 m

#### List the Profile IDs and for students majoring in computer science and another concentration (Concentration table); show the second concentration as well

In [96]:
%%read_sql
SELECT *
FROM Concentration C1
  INNER JOIN Concentration C2 ON C1.ProfileID = C2.ProfileID
WHERE C1.Concentration = 'Computer Science' AND C2.Concentration != 'Computer Science'

Query started at 03:10:26 AM UTC; Query executed in 0.01 m

     ProfileID  ...                              Concentration
0       800001  ...                                 Psychology
1       800012  ...                           Hellenic Studies
2       800183  ...                                    History
3       800184  ...                             Cinema Studies
4       800245  ...                      Communication Studies
..         ...  ...                                        ...
230     833365  ...                                  Economics
231     833719  ...                                    Finance
232     834314  ...     Management and Organizational Behavior
233     834491  ...                           Creative Writing
234     834614  ...  Interactive Telecommunications Department

[235 rows x 4 columns]

## Outer Joins

#### Switch to IMDB

In [21]:
%%read_sql 
USE imdb;

Query started at 03:36:55 AM UTC; Query executed in 0.01 m

#### List all the movies without actors

In [26]:
%%read_sql
SELECT M.*, R.*
FROM movies M
  LEFT JOIN roles R ON M.id = R.movie_id
WHERE R.movie_id IS NULL

Query started at 03:37:40 AM UTC; Query executed in 0.20 m

           id                                 name  ...  movie_id  role
0           1  #7 Train: An Immigrant Journey, The  ...      None  None
1           8               $10,000 Under a Pillow  ...      None  None
2          10                $100,000 Pyramid, The  ...      None  None
3          13               $21 a Day Once a Month  ...      None  None
4          29                      $500,000 Reward  ...      None  None
...       ...                                  ...  ...       ...   ...
88012  412297                       "re for krone"  ...      None  None
88013  412309                   "ltimo Inverno, O"  ...      None  None
88014  412310                   "ltimo Inverno, O"  ...      None  None
88015  412313                    "nica Verdade, A"  ...      None  None
88016  412320                          "sterreich"  ...      None  None

[88017 rows x 7 columns]

#### List all the movies without an associated genre

In [18]:
%%read_sql
SELECT M.*
FROM movies M
  LEFT JOIN movies_genres G ON M.id = G.movie_id
WHERE G.movie_id IS NULL

Query started at 03:35:09 AM UTC; Query executed in 0.02 m

            id                    name  year  rank
0            0                     #28  2002   NaN
1            3           $1,000 Reward  1913   NaN
2            4           $1,000 Reward  1915   NaN
3            7  $1,000,000 Reward, The  1920   NaN
4           16                 $30,000  1920   NaN
...        ...                     ...   ...   ...
137122  412316         "zem blch krlu"  1991   NaN
137123  412317                "rgammk"  1995   NaN
137124  412318            "zgnm Leyla"  2002   NaN
137125  412319             " Istanbul"  1983   NaN
137126  412320             "sterreich"  1958   NaN

[137127 rows x 4 columns]

#### List all the Students that have not listed a Concentration

In [27]:
%%read_sql 
USE facebook;

Query started at 03:37:59 AM UTC; Query executed in 0.01 m

In [29]:
%%read_sql
SELECT P.*, C.*
FROM Profiles P
  LEFT JOIN Concentration C ON P.ProfileID = C.ProfileID
  WHERE C.ProfileID IS NULL

Query started at 03:38:51 AM UTC; Query executed in 0.01 m

     ProfileID              Name  ... ProfileID Concentration
0       800010     Jeff Chlystun  ...      None          None
1       800014         Yoome Kim  ...      None          None
2       800016       Anna Gekker  ...      None          None
3       800042  Anthony Spinelli  ...      None          None
4       800059       Lisa Herman  ...      None          None
...        ...               ...  ...       ...           ...
6527    834637        Jen Slovin  ...      None          None
6528    834638     Kumi Dikengil  ...      None          None
6529    834639         Sky Gaven  ...      None          None
6530    834640         Eli Brown  ...      None          None
6531    834641        Tunga Mbia  ...      None          None

[6532 rows x 21 columns]