# SQL: JoinQueries

## Setup

We are now installing the necessary packages to interact with the MySQL database and issue SQL queries using the notebook.

In [0]:
!sudo apt-get install python3-mysqldb
!sudo pip3 install -U sqlalchemy sql_magic

In [3]:
%reload_ext sql_magic

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [0]:
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/?charset=utf8'.format(
    host='db.ipeirotis.org',
    user='student',
    password='dwdstudent2015',
    encoding='utf-8')
engine = create_engine(conn_string)

In [0]:
%config SQL.conn_name = 'engine'

## Poor man's joins: Find the genres that Steven Spielberg typically directs

Use the table directors_genres  and find all genres of films and the corresponding probabilities for the director ID that corresponds to Steven Spielberg. Sort the results by probability.

### IMDb

In [7]:
%%read_sql
USE imdb

Query started at 08:41:04 PM UTC; Query executed in 0.03 m

#### Find the entry for Steven Spielberg to find his id

In [8]:
%%read_sql
SELECT *
FROM directors 
WHERE first_name = 'Steven' AND last_name = 'Spielberg'

Query started at 08:41:27 PM UTC; Query executed in 0.01 m

      id first_name  last_name
0  75380     Steven  Spielberg

#### Query the `directors_genres` table for Spielberg movies (pick director id value from previous query)

In [11]:
%%read_sql
SELECT *
FROM directors_genres
WHERE director_id = 75380
ORDER BY prob DESC

Query started at 08:42:23 PM UTC; Query executed in 0.01 m

    director_id        genre      prob
0         75380        Drama  0.435897
1         75380     Thriller  0.282051
2         75380    Adventure  0.282051
3         75380       Sci-Fi  0.256410
4         75380       Action  0.230769
5         75380       Horror  0.179487
6         75380        Short  0.128205
7         75380      Fantasy  0.102564
8         75380          War  0.102564
9         75380        Crime  0.102564
10        75380       Comedy  0.076923
11        75380       Family  0.076923
12        75380      Mystery  0.051282
13        75380      Romance  0.051282
14        75380      Western  0.025641
15        75380  Documentary  0.025641

## Simple Join Queries

### IMDb

In [12]:
%%read_sql
USE imdb

Query started at 08:43:39 PM UTC; Query executed in 0.01 m

#### List all the movies and their genres

In [16]:
%%read_sql
SELECT *
FROM movies M 
  INNER JOIN movies_genres G ON M.id = G.movie_id

Query started at 08:45:58 PM UTC; Query executed in 0.05 m

            id                                 name  ...  movie_id        genre
0            1  #7 Train: An Immigrant Journey, The  ...         1        Short
1            1  #7 Train: An Immigrant Journey, The  ...         1  Documentary
2            2                                    $  ...         2        Crime
3            2                                    $  ...         2       Comedy
4            5                        $1,000 Reward  ...         5      Western
...        ...                                  ...  ...       ...          ...
395445  378612                       nz de mihlarim  ...    378612    Adventure
395446  378612                       nz de mihlarim  ...    378612        Drama
395447  378613                        egar a gerist  ...    378613       Comedy
395448  378613                        egar a gerist  ...    378613        Drama
395449  378614                              . 19,99  ...    378614       Comedy

[395450 rows x 6 columns]

#### List the movie genres for the movies directed by Steven Spielberg and sort them in decreasing order of their probability (use the director_genres table)

In [18]:
%%read_sql
SELECT *
FROM directors D
  INNER JOIN directors_genres G ON G.director_id = D.id
WHERE D.first_name = 'Steven' AND D.last_name = 'Spielberg'
ORDER BY G.prob DESC

Query started at 08:47:12 PM UTC; Query executed in 0.01 m

       id first_name  last_name  director_id        genre      prob
0   75380     Steven  Spielberg        75380        Drama  0.435897
1   75380     Steven  Spielberg        75380     Thriller  0.282051
2   75380     Steven  Spielberg        75380    Adventure  0.282051
3   75380     Steven  Spielberg        75380       Sci-Fi  0.256410
4   75380     Steven  Spielberg        75380       Action  0.230769
5   75380     Steven  Spielberg        75380       Horror  0.179487
6   75380     Steven  Spielberg        75380        Short  0.128205
7   75380     Steven  Spielberg        75380          War  0.102564
8   75380     Steven  Spielberg        75380      Fantasy  0.102564
9   75380     Steven  Spielberg        75380        Crime  0.102564
10  75380     Steven  Spielberg        75380       Family  0.076923
11  75380     Steven  Spielberg        75380       Comedy  0.076923
12  75380     Steven  Spielberg        75380      Romance  0.051282
13  75380     Steven  Spielberg        75380      Mystery  0.051282
14  75380     Steven  Spielberg        75380      Western  0.025641
15  75380     Steven  Spielberg        75380  Documentary  0.025641

In [19]:
%%read_sql
SELECT G.genre, G.prob
FROM directors D
  INNER JOIN directors_genres G ON G.director_id = D.id
WHERE D.first_name = 'Steven' AND D.last_name = 'Spielberg'
ORDER BY G.prob DESC

Query started at 08:47:44 PM UTC; Query executed in 0.01 m

          genre      prob
0         Drama  0.435897
1      Thriller  0.282051
2     Adventure  0.282051
3        Sci-Fi  0.256410
4        Action  0.230769
5        Horror  0.179487
6         Short  0.128205
7       Fantasy  0.102564
8           War  0.102564
9         Crime  0.102564
10       Comedy  0.076923
11       Family  0.076923
12      Romance  0.051282
13      Mystery  0.051282
14      Western  0.025641
15  Documentary  0.025641

#### List all the movies and their directors

In [20]:
%%read_sql
SELECT *
FROM directors D
  INNER JOIN movies_directors MD ON MD.director_id = D.id
  INNER JOIN movies M ON M.id = MD.movie_id

Query started at 08:54:58 PM UTC; Query executed in 0.22 m

           id first_name  ...  year  rank
0           1       Todd  ...  2004   NaN
1           2        Les  ...  2002   NaN
2           3    Lejaren  ...  1921   NaN
3           3    Lejaren  ...  1920   NaN
4           4       Nian  ...  1997   NaN
...       ...        ...  ...   ...   ...
380655  88797      Yusuf  ...  1988   NaN
380656  88798      Ahmet  ...  1972   NaN
380657  88799       Idil  ...  2001   8.5
380658  88800     Yüksel  ...  1951   NaN
380659  88801      Ahmet  ...  1957   NaN

[380660 rows x 9 columns]

In [22]:
%%read_sql
SELECT MD.director_id, D.first_name AS director_first_name, D.last_name AS director_last_name,
       MD.movie_id, M.name AS movie_title, M.year AS release_year, M.rank AS movie_rating 
FROM directors D
  INNER JOIN movies_directors MD ON MD.director_id = D.id
  INNER JOIN movies M ON M.id = MD.movie_id

Query started at 08:56:48 PM UTC; Query executed in 0.12 m

        director_id director_first_name  ... release_year  movie_rating
0                 1                Todd  ...         2004           NaN
1                 2                 Les  ...         2002           NaN
2                 3             Lejaren  ...         1921           NaN
3                 3             Lejaren  ...         1920           NaN
4                 4                Nian  ...         1997           NaN
...             ...                 ...  ...          ...           ...
380655        88797               Yusuf  ...         1988           NaN
380656        88798               Ahmet  ...         1972           NaN
380657        88799                Idil  ...         2001           8.5
380658        88800              Yüksel  ...         1951           NaN
380659        88801               Ahmet  ...         1957           NaN

[380660 rows x 7 columns]

#### List all the movies directed by Steven Spielberg

In [25]:
%%read_sql
SELECT MD.director_id, D.first_name AS director_first_name, D.last_name AS director_last_name,
       MD.movie_id, M.name AS movie_title, M.year AS release_year, M.rank AS movie_rating 
FROM directors D
  INNER JOIN movies_directors MD ON MD.director_id = D.id
  INNER JOIN movies M ON M.id = MD.movie_id
WHERE D.first_name = 'Steven' AND D.last_name = 'Spielberg'
ORDER BY M.rank DESC

Query started at 08:58:07 PM UTC; Query executed in 0.01 m

    director_id director_first_name  ... release_year  movie_rating
0         75380              Steven  ...         1961           9.1
1         75380              Steven  ...         1964           9.0
2         75380              Steven  ...         1993           8.8
3         75380              Steven  ...         1981           8.7
4         75380              Steven  ...         1967           8.6
5         75380              Steven  ...         1968           8.4
6         75380              Steven  ...         1959           8.4
7         75380              Steven  ...         1998           8.3
8         75380              Steven  ...         1975           8.2
9         75380              Steven  ...         1989           8.0
10        75380              Steven  ...         1977           7.8
11        75380              Steven  ...         1982           7.8
12        75380              Steven  ...         2002           7.8
13        75380              Steven  ...         2002           7.7
14        75380              Steven  ...         1985           7.6
15        75380              Steven  ...         1999           7.5
16        75380              Steven  ...         1987           7.4
17        75380              Steven  ...         1984           7.2
18        75380              Steven  ...         1982           7.2
19        75380              Steven  ...         2004           7.1
20        75380              Steven  ...         1997           7.0
21        75380              Steven  ...         2001           6.9
22        75380              Steven  ...         1961           6.8
23        75380              Steven  ...         1974           6.6
24        75380              Steven  ...         1989           6.2
25        75380              Steven  ...         1983           6.0
26        75380              Steven  ...         1991           5.7
27        75380              Steven  ...         1979           5.5
28        75380              Steven  ...         1971           NaN
29        75380              Steven  ...         1970           NaN
30        75380              Steven  ...         1985           NaN
31        75380              Steven  ...         1990           NaN
32        75380              Steven  ...         1971           NaN
33        75380              Steven  ...         1971           NaN
34        75380              Steven  ...         1973           NaN
35        75380              Steven  ...         1970           NaN
36        75380              Steven  ...         1992           NaN
37        75380              Steven  ...         1969           NaN
38        75380              Steven  ...         1996           NaN
39        75380              Steven  ...         1985           NaN
40        75380              Steven  ...         1984           NaN
41        75380              Steven  ...         2006           NaN
42        75380              Steven  ...         1971           NaN
43        75380              Steven  ...         2006           NaN
44        75380              Steven  ...         1969           NaN
45        75380              Steven  ...         1972           NaN
46        75380              Steven  ...         2005           NaN
47        75380              Steven  ...         1971           NaN

[48 rows x 7 columns]

## Join Practice Queries: Drama movies from 2000

### IMDb

In [26]:
%%read_sql
USE imdb

Query started at 09:02:57 PM UTC; Query executed in 0.01 m

#### List all the movies from year 2000

In [0]:
%%read_sql
SELECT *
FROM movies
WHERE year=2000

Query started at 07:30:19 PM UTC; Query executed in 0.00 m

        id                        name  year  rank
0    13261      Amateur Gymnast, No. 2  1894   NaN
1    17623   Annabelle Butterfly Dance  1894   5.3
2    17627  Annabelle Serpentine Dance  1894   6.1
3    17628         Annabelle Sun Dance  1894   NaN
4    17770                Annie Oakley  1894   4.9
..     ...                         ...   ...   ...
76  363640      Whirlwind Gun Spinning  1894   NaN
77  364791                 Widder, The  1894   NaN
78  368839                   Wrestling  1892   2.0
79  368852          Wrestling Dog, The  1894   NaN
80  368854             Wrestling Match  1894   NaN

[81 rows x 4 columns]

#### List all the movies from year 2000 and their genres

In [27]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000

Query started at 09:12:50 PM UTC; Query executed in 0.02 m

           id  ...        genre
0           1  ...        Short
1           1  ...  Documentary
2          31  ...        Drama
3          34  ...        Short
4          46  ...  Documentary
...       ...  ...          ...
12138  378537  ...        Short
12139  378550  ...       Comedy
12140  378550  ...        Crime
12141  378550  ...        Drama
12142  378557  ...  Documentary

[12143 rows x 6 columns]

#### List all the Drama movies from year 2000

In [28]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000 AND G.genre = 'Drama'

Query started at 09:13:05 PM UTC; Query executed in 0.02 m

          id  ...  genre
0         31  ...  Drama
1        428  ...  Drama
2        598  ...  Drama
3        992  ...  Drama
4       1023  ...  Drama
...      ...  ...    ...
1864  377490  ...  Drama
1865  378026  ...  Drama
1866  378121  ...  Drama
1867  378308  ...  Drama
1868  378550  ...  Drama

[1869 rows x 6 columns]

#### List all the Drama movies from year 2000 with ratings

In [30]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000 AND G.genre = 'Drama' AND M.rank IS NOT NULL

Query started at 09:13:56 PM UTC; Query executed in 0.02 m

         id                                               name  ...  movie_id  genre
0        31                                              $pent  ...        31  Drama
1       428                      ...Or Forever Hold Your Peace  ...       428  Drama
2      1160                                   15-Sai: Gakko IV  ...      1160  Drama
3      1351                                                 19  ...      1351  Drama
4      1784                                                 21  ...      1784  Drama
..      ...                                                ...  ...       ...    ...
936  376257                                 Zwarte meteoor, De  ...    376257  Drama
937  376518  Zycie jako smiertelna choroba przenoszona drog...  ...    376518  Drama
938  378121                                    skabrn jarinnar  ...    378121  Drama
939  378308  tztalmann und seine Welt. Das Jahr bevor er sc...  ...    378308  Drama
940  378550                                       berfall, Der  ...    378550  Drama

[941 rows x 6 columns]

#### List the top-50 Drama movies from year 2000, based on the ratings

In [31]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN movies_genres G ON G.movie_id = M.id
WHERE M.year=2000 AND G.genre = 'Drama' AND M.rank IS NOT NULL
ORDER BY M.rank DESC
LIMIT 50

Query started at 09:14:34 PM UTC; Query executed in 0.02 m

        id                                   name  year  rank  movie_id  genre
0   102311                          Era outra vez  2000   9.6    102311  Drama
1   104266                                   Etat  2000   9.3    104266  Drama
2   123371                               Game Day  2000   9.2    123371  Drama
3   121732               Funeral de los dedos, El  2000   9.2    121732  Drama
4   206201                   Markova: Comfort Gay  2000   9.1    206201  Drama
5   345028                      Un amor de Borges  2000   9.1    345028  Drama
6   249287                       Paromitar Ek Din  2000   9.0    249287  Drama
7    46522                                Breathe  2000   9.0     46522  Drama
8   289644  Scarlett Mecca and the Pentagram Girl  2000   8.9    289644  Drama
9    70865                              Coronacin  2000   8.9     70865  Drama
10   24206                   Aunque t no lo sepas  2000   8.9     24206  Drama
11   15240                                  Amlia  2000   8.8     15240  Drama
12  343645                        Tnica Dominante  2000   8.8    343645  Drama
13   82336                   Delicate Instruments  2000   8.8     82336  Drama
14  305099                         Slobodno mesto  2000   8.7    305099  Drama
15   17298                                  Anino  2000   8.7     17298  Drama
16   63783                                Cicadas  2000   8.7     63783  Drama
17  272606                              Rat uzivo  2000   8.7    272606  Drama
18  210511                                Memento  2000   8.7    210511  Drama
19  314129                            Steaks, The  2000   8.6    314129  Drama
20   84205                        Destiny Stalled  2000   8.6     84205  Drama
21  218876                                  Moosh  2000   8.6    218876  Drama
22  222052                   Mujhay Chand Chahiye  2000   8.6    222052  Drama
23  145441                               Himawari  2000   8.6    145441  Drama
24   46611                Brennand - De Ovo Omnia  2000   8.5     46611  Drama
25  139399                             Hari-Bhari  2000   8.4    139399  Drama
26  376182                         Zurck auf Los!  2000   8.4    376182  Drama
27   24496                 Auto da Compadecida, O  2000   8.4     24496  Drama
28   36165                               Bharathi  2000   8.4     36165  Drama
29   73655                   Cronicamente Invivel  2000   8.4     73655  Drama
30  276085                    Requiem for a Dream  2000   8.4    276085  Drama
31   64978                            Ciudad de M  2000   8.3     64978  Drama
32    2976                       7 ddssyndene, De  2000   8.3      2976  Drama
33  332140                  Thung lung hoang vang  2000   8.3    332140  Drama
34  116554                              Followers  2000   8.3    116554  Drama
35   62117                         Chinese Coffee  2000   8.3     62117  Drama
36  241022                         Once (2000/II)  2000   8.3    241022  Drama
37  367149                        Wo hu cang long  2000   8.3    367149  Drama
38  135648                           Guizi lai le  2000   8.3    135648  Drama
39  118581                 Foxy Lady, Wild Cherry  2000   8.2    118581  Drama
40  144386                                Hey Ram  2000   8.2    144386  Drama
41   87891             Distinct Smell of Red, The  2000   8.2     87891  Drama
42  329638                                   Thaw  2000   8.2    329638  Drama
43   98339          Einsamkeit der Krokodile, Die  2000   8.2     98339  Drama
44   28070                           Bakha satang  2000   8.2     28070  Drama
45   31462                   Bayaning Third World  2000   8.2     31462  Drama
46   14942                          Amores perros  2000   8.2     14942  Drama
47  329884                                Thenali  2000   8.2    329884  Drama
48  353195                      Viaje de Arin, El  2000   8.1    353195  Drama
49   46116                 Brava Gente Brasileira  2000   8.1     46116  Drama

## Join Practice Queries: James Bond movies

### IMDb

In [0]:
%%read_sql
USE imdb

Query started at 07:30:21 PM UTC; Query executed in 0.00 m

#### List all the movies where there is an actor with the role ‘James Bond’

In [34]:
%%read_sql
SELECT *
FROM movies M
  INNER JOIN roles R ON R.movie_id = M.id
WHERE R.role = 'James Bond'

Query started at 09:17:15 PM UTC; Query executed in 0.01 m

        id                   name  year  rank  actor_id  movie_id        role
0    21756               Ashakara  1991   NaN      7279     21756  James Bond
1   130945              GoldenEye  1997   NaN     32400    130945  James Bond
2      531  007: Agent Under Fire  2001   NaN     42148       531  James Bond
3      530             007 Racing  2000   NaN     44840       530  James Bond
4      531  007: Agent Under Fire  2001   NaN     44840       531  James Bond
..     ...                    ...   ...   ...       ...       ...         ...
56  140431         Hawaa wal kerd  1968   NaN    341028    140431  James Bond
57   76256                    D4G  2000   NaN    471425     76256  James Bond
58  245547    Outwitted (1917/II)  1917   NaN    480224    245547  James Bond
59  123256                Gam gai  2002   7.5    480564    123256  James Bond
60   66192                 Clue??  1988   NaN    495869     66192  James Bond

[61 rows x 7 columns]

#### List the actors who played ‘James Bond’

In [35]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
WHERE R.role = 'James Bond'

Query started at 09:17:55 PM UTC; Query executed in 0.01 m

        id   first_name  last_name gender  actor_id  movie_id        role
0     7279   Bahoumodom        Ali      M      7279     21756  James Bond
1    32400        Kevin    Bayliss      M     32400    130945  James Bond
2    42148       Andrew   Bicknell      M     42148       531  James Bond
3    44840         Adam  Blackwood      M     44840       530  James Bond
4    44840         Adam  Blackwood      M     44840       531  James Bond
..     ...          ...        ...    ...       ...       ...         ...
56  341028        Salah      Nazmi      M    341028    140431  James Bond
57  471425  George (VI)     Thomas      M    471425     76256  James Bond
58  480224        Frank  Truesdell      M    480224    245547  James Bond
59  480564     Eric (I)      Tsang      M    480564    123256  James Bond
60  495869         Paul       Vnuk      M    495869     66192  James Bond

[61 rows x 7 columns]

#### List the actors who played ‘James Bond’ and the name of the movie

In [36]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE R.role = 'James Bond'

Query started at 09:18:37 PM UTC; Query executed in 0.01 m

        id   first_name  last_name  ...                   name  year  rank
0     7279   Bahoumodom        Ali  ...               Ashakara  1991   NaN
1    32400        Kevin    Bayliss  ...              GoldenEye  1997   NaN
2    42148       Andrew   Bicknell  ...  007: Agent Under Fire  2001   NaN
3    44840         Adam  Blackwood  ...             007 Racing  2000   NaN
4    44840         Adam  Blackwood  ...  007: Agent Under Fire  2001   NaN
..     ...          ...        ...  ...                    ...   ...   ...
56  341028        Salah      Nazmi  ...         Hawaa wal kerd  1968   NaN
57  471425  George (VI)     Thomas  ...                    D4G  2000   NaN
58  480224        Frank  Truesdell  ...    Outwitted (1917/II)  1917   NaN
59  480564     Eric (I)      Tsang  ...                Gam gai  2002   7.5
60  495869         Paul       Vnuk  ...                 Clue??  1988   NaN

[61 rows x 11 columns]

#### List the actors who played ‘James Bond’ and the name of the movie. Rank the result by rating

In [37]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE R.role = 'James Bond'
ORDER BY M.rank DESC

Query started at 09:40:05 PM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0    93861       Sean  ...  1964  7.7
1   480564   Eric (I)  ...  2002  7.5
2    93861       Sean  ...  1963  7.3
3    93861       Sean  ...  1962  7.2
4   328803  Roger (I)  ...  1977  6.9
..     ...        ...  ...   ...  ...
56   59376     Pierce  ...  2000  NaN
57  269903     George  ...  2000  NaN
58   59376     Pierce  ...  2000  NaN
59  269903     George  ...  1998  NaN
60   32400      Kevin  ...  1997  NaN

[61 rows x 11 columns]

#### List the actors who played ‘James Bond’ and the name of the movie. Rank the result by year

In [38]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE R.role = 'James Bond'
ORDER BY M.year

Query started at 09:40:17 PM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   480224      Frank  ...  1917  NaN
1    93861       Sean  ...  1962  7.2
2    93861       Sean  ...  1963  7.3
3    93861       Sean  ...  1964  7.7
4    93861       Sean  ...  1965  6.8
..     ...        ...  ...   ...  ...
56   42148     Andrew  ...  2001  NaN
57   78159    Maxwell  ...  2002  NaN
58   59376     Pierce  ...  2002  6.4
59  480564   Eric (I)  ...  2002  7.5
60   59376     Pierce  ...  2004  NaN

[61 rows x 11 columns]

## JOIN practice queries: Brad Pitt movies

#### List all the movies where Brad Pitt is playing

In [39]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'

Query started at 09:42:08 PM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  1964  NaN
1   376249       Brad  ...  1987  5.5
2   376249       Brad  ...  1987  5.2
3   376249       Brad  ...  1988  NaN
4   376249       Brad  ...  1989  5.1
5   376249       Brad  ...  1990  NaN
6   376249       Brad  ...  1990  NaN
7   376249       Brad  ...  1990  NaN
8   376249       Brad  ...  1991  5.8
9   376249       Brad  ...  1991  NaN
10  376249       Brad  ...  1991  7.3
11  376249       Brad  ...  1991  5.4
12  376249       Brad  ...  1992  6.3
13  376249       Brad  ...  1992  7.1
14  376249       Brad  ...  1992  4.1
15  376249       Brad  ...  1993  7.7
16  376249       Brad  ...  1993  6.6
17  376249       Brad  ...  1994  7.1
18  376249       Brad  ...  1994  5.0
19  376249       Brad  ...  1994  6.7
20  376249       Brad  ...  1995  8.4
21  376249       Brad  ...  1995  NaN
22  376249       Brad  ...  1995  7.9
23  376249       Brad  ...  1995  NaN
24  376249       Brad  ...  1996  7.0
25  376249       Brad  ...  1996  NaN
26  376249       Brad  ...  1997  NaN
27  376249       Brad  ...  1997  5.7
28  376249       Brad  ...  1997  4.7
29  376249       Brad  ...  1997  6.6
30  376249       Brad  ...  1998  6.5
31  376249       Brad  ...  1999  8.5
32  376249       Brad  ...  1999  7.9
33  376249       Brad  ...  2000  NaN
34  376249       Brad  ...  2000  7.9
35  376249       Brad  ...  2000  NaN
36  376249       Brad  ...  2000  NaN
37  376249       Brad  ...  2001  NaN
38  376249       Brad  ...  2001  NaN
39  376249       Brad  ...  2001  7.0
40  376249       Brad  ...  2001  6.0
41  376249       Brad  ...  2001  7.5
42  376249       Brad  ...  2001  NaN
43  376249       Brad  ...  2002  5.1
44  376249       Brad  ...  2002  NaN
45  376249       Brad  ...  2002  7.1
46  376249       Brad  ...  2002  NaN
47  376249       Brad  ...  2002  NaN
48  376249       Brad  ...  2002  NaN
49  376249       Brad  ...  2002  NaN
50  376249       Brad  ...  2003  4.4
51  376249       Brad  ...  2003  6.4
52  376249       Brad  ...  2003  NaN
53  376249       Brad  ...  2004  NaN
54  376249       Brad  ...  2004  7.0
55  376249       Brad  ...  2004  NaN
56  376249       Brad  ...  2004  NaN
57  376249       Brad  ...  2004  NaN
58  376249       Brad  ...  2005  NaN

[59 rows x 11 columns]

#### List all the movies where Brad Pitt is playing. Exclude the movies where he plays “himself”

In [41]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'
  AND R.role NOT LIKE '%%himself%%'

Query started at 09:43:29 PM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  1991  5.4
1   376249       Brad  ...  2002  7.1
2   376249       Brad  ...  1992  6.3
3   376249       Brad  ...  1992  4.1
4   376249       Brad  ...  1997  4.7
5   376249       Brad  ...  1997  5.7
6   376249       Brad  ...  1994  5.0
7   376249       Brad  ...  1999  8.5
8   376249       Brad  ...  2001  NaN
9   376249       Brad  ...  1989  5.1
10  376249       Brad  ...  1990  NaN
11  376249       Brad  ...  1994  7.1
12  376249       Brad  ...  1991  5.8
13  376249       Brad  ...  1993  6.6
14  376249       Brad  ...  1994  6.7
15  376249       Brad  ...  1987  5.5
16  376249       Brad  ...  1998  6.5
17  376249       Brad  ...  2001  6.0
18  376249       Brad  ...  2005  NaN
19  376249       Brad  ...  1987  5.2
20  376249       Brad  ...  2001  7.5
21  376249       Brad  ...  2004  NaN
22  376249       Brad  ...  1992  7.1
23  376249       Brad  ...  1995  8.4
24  376249       Brad  ...  1997  6.6
25  376249       Brad  ...  2003  6.4
26  376249       Brad  ...  1996  7.0
27  376249       Brad  ...  2000  7.9
28  376249       Brad  ...  2001  7.0
29  376249       Brad  ...  1988  NaN
30  376249       Brad  ...  1991  7.3
31  376249       Brad  ...  1990  NaN
32  376249       Brad  ...  2004  7.0
33  376249       Brad  ...  1993  7.7
34  376249       Brad  ...  1995  7.9
35  376249       Brad  ...  1991  NaN
36  376249       Brad  ...  2002  NaN
37  376249       Brad  ...  1964  NaN
38  376249       Brad  ...  1990  NaN

[39 rows x 11 columns]

#### List all the movies where Brad Pitt is playing. Exclude the movies where he plays “himself”. Rank the result by movie rating.

In [42]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'
  AND R.role NOT LIKE '%%himself%%'
ORDER BY M.rank DESC

Query started at 09:47:28 PM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  1999  8.5
1   376249       Brad  ...  1995  8.4
2   376249       Brad  ...  1995  7.9
3   376249       Brad  ...  2000  7.9
4   376249       Brad  ...  1993  7.7
5   376249       Brad  ...  2001  7.5
6   376249       Brad  ...  1991  7.3
7   376249       Brad  ...  1994  7.1
8   376249       Brad  ...  1992  7.1
9   376249       Brad  ...  2002  7.1
10  376249       Brad  ...  1996  7.0
11  376249       Brad  ...  2004  7.0
12  376249       Brad  ...  2001  7.0
13  376249       Brad  ...  1994  6.7
14  376249       Brad  ...  1993  6.6
15  376249       Brad  ...  1997  6.6
16  376249       Brad  ...  1998  6.5
17  376249       Brad  ...  2003  6.4
18  376249       Brad  ...  1992  6.3
19  376249       Brad  ...  2001  6.0
20  376249       Brad  ...  1991  5.8
21  376249       Brad  ...  1997  5.7
22  376249       Brad  ...  1987  5.5
23  376249       Brad  ...  1991  5.4
24  376249       Brad  ...  1987  5.2
25  376249       Brad  ...  1989  5.1
26  376249       Brad  ...  1994  5.0
27  376249       Brad  ...  1997  4.7
28  376249       Brad  ...  1992  4.1
29  376249       Brad  ...  1990  NaN
30  376249       Brad  ...  1990  NaN
31  376249       Brad  ...  2005  NaN
32  376249       Brad  ...  1964  NaN
33  376249       Brad  ...  2002  NaN
34  376249       Brad  ...  1990  NaN
35  376249       Brad  ...  1988  NaN
36  376249       Brad  ...  1991  NaN
37  376249       Brad  ...  2004  NaN
38  376249       Brad  ...  2001  NaN

[39 rows x 11 columns]

#### List all the movies where Brad Pitt is playing. Exclude the movies where he plays “himself”. Rank the result by year.

In [43]:
%%read_sql
SELECT *
FROM actors A 
  INNER JOIN roles R ON R.actor_id = A.id
  INNER JOIN movies M ON M.id = R.movie_id
WHERE A.first_name = 'Brad' AND A.last_name = 'Pitt'
  AND R.role NOT LIKE '%%himself%%'
ORDER BY M.year

Query started at 09:49:06 PM UTC; Query executed in 0.01 m

        id first_name  ...  year rank
0   376249       Brad  ...  1964  NaN
1   376249       Brad  ...  1987  5.2
2   376249       Brad  ...  1987  5.5
3   376249       Brad  ...  1988  NaN
4   376249       Brad  ...  1989  5.1
5   376249       Brad  ...  1990  NaN
6   376249       Brad  ...  1990  NaN
7   376249       Brad  ...  1990  NaN
8   376249       Brad  ...  1991  5.4
9   376249       Brad  ...  1991  5.8
10  376249       Brad  ...  1991  7.3
11  376249       Brad  ...  1991  NaN
12  376249       Brad  ...  1992  4.1
13  376249       Brad  ...  1992  7.1
14  376249       Brad  ...  1992  6.3
15  376249       Brad  ...  1993  6.6
16  376249       Brad  ...  1993  7.7
17  376249       Brad  ...  1994  5.0
18  376249       Brad  ...  1994  7.1
19  376249       Brad  ...  1994  6.7
20  376249       Brad  ...  1995  8.4
21  376249       Brad  ...  1995  7.9
22  376249       Brad  ...  1996  7.0
23  376249       Brad  ...  1997  5.7
24  376249       Brad  ...  1997  6.6
25  376249       Brad  ...  1997  4.7
26  376249       Brad  ...  1998  6.5
27  376249       Brad  ...  1999  8.5
28  376249       Brad  ...  2000  7.9
29  376249       Brad  ...  2001  7.5
30  376249       Brad  ...  2001  6.0
31  376249       Brad  ...  2001  7.0
32  376249       Brad  ...  2001  NaN
33  376249       Brad  ...  2002  NaN
34  376249       Brad  ...  2002  7.1
35  376249       Brad  ...  2003  6.4
36  376249       Brad  ...  2004  7.0
37  376249       Brad  ...  2004  NaN
38  376249       Brad  ...  2005  NaN

[39 rows x 11 columns]