<a href="https://colab.research.google.com/github/ipeirotis/introduction-to-databases/blob/master/session6/assignment_combined.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 6: Putting All Together Assignment


In this segment we will connect to the *Music* database.

## Setup

In [0]:
!apt-get install python3-mysqldb
!pip install sqlalchemy sql_magic

In [0]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/{db}?charset={encoding}'.format(
    host = 'db.ipeirotis.org', 
    user = 'student',
    db = 'music',
    password = 'dwdstudent2015',
    encoding = 'utf8mb4')

engine = create_engine(conn_string)
con = engine.connect()

In [0]:
%reload_ext sql_magic

In [0]:
%config SQL.conn_name = 'engine'

In [0]:
# This is an example of how you can write an SQL query in the notebook.
# You write your SQL query after the "%%read_sql" line
%%read_sql
SELECT * 
FROM played

Query started at 08:29:11 PM UTC; Query executed in 0.06 m

    artist_id  album_id  track_id              played
0           1         3         0 2006-08-14 10:21:03
1           1         3         1 2006-08-14 10:25:22
2           1         3         2 2006-08-14 10:30:25
3           1         3         3 2006-08-14 10:36:54
4           1         3         4 2006-08-14 10:41:43
5           1         3         5 2006-08-14 10:43:37
6           1         3         6 2006-08-14 10:47:21
7           1         3         7 2006-08-14 10:54:02
8           3         1         0 2006-08-15 14:00:03
9           3         1         1 2006-08-15 14:26:12
10          3         1         2 2006-08-15 14:33:57

## Question 1:

In [0]:
%%read_sql

## Question 2:

In [0]:
%%read_sql

## Question 3:

In [0]:
%%read_sql

## Question 4:

In [0]:
%%read_sql

## Question 5:

In [0]:
%%read_sql

## Question 6:

In [0]:
%%read_sql

## Question 7:

In [0]:
%%read_sql

## Question 8:

In [0]:
%%read_sql

## Question 9:

In [0]:
%%read_sql

## Question 10:

In [0]:
%%read_sql