# 0. ER diagrams

![](http://people.stern.nyu.edu/khoffman/intro_programming_datasci/assets/images/uber_schema.PNG)

True or false?

1. A customer can take zero, one, or many trips.
2. A customer must have a corresponding credit card.
3. A trip must have a corresponding a credit card.
4. A trip can have more than one driver.
5. A trip may have no customers.
6. A trip can have one credit card.
7. A trip can have five credit cards.
8. A trip can have no credit cards.

**Answer:**
<span style="color:white">
\1. TRUE
\2. FALSE
\3. TRUE
\4. FALSE
\5. FALSE
\6. TRUE
\7. TRUE
\8. FALSE

![](http://people.stern.nyu.edu/khoffman/intro_programming_datasci/assets/images/employee_schema_raw.PNG)

True or False?

1. Departments have a one-to-many relationship with employees.
2. Employees have a one-to-one relationship with jobs.
3. A department can have no employees.
4. An employee can have multiple departments.
5. An employee can have multiple jobs.
6. A job can have only one employee.

**Answer**:
<span style="color:white">
\1. TRUE
\2. FALSE
\3. FALSE
\4. FALSE
\5. TRUE
\6. FALSE

# SQL queries

**Notes**: 
- Your homework is a good example of the types of test questions that might appear on basic selection, including `SELECT DISTINCT`, `LIMIT`, `ORDER BY`, `WHERE`, `LIKE`, and `INNER JOIN`.

- We have also practiced many queries in [Lecture 7](http://people.stern.nyu.edu/khoffman/intro_programming_datasci/assets/txt/queries_lec7.txt) and [Lecture 8](http://people.stern.nyu.edu/khoffman/intro_programming_datasci/assets/txt/queries_lec8.txt). Solved examples of most of the queries we've run in class (including several of the ones below) can be found [here](https://github.com/khof312/Summer2018_ProfHoffmannPham/blob/master/02-SQL/F-SQL_Queries_For_IMDB_and_Facebook_Databases.ipynb). You are not responsible for the section on subqueries.

- This notebook includes a few easy practice queries, and then copies some of the harder queries from the end of lecture 8.

In [ ]:
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/?charset=utf8'.format(
    host = 'db.ipeirotis.org', 
    user = 'student',
    password = 'dwdstudent2015',
    encoding = 'utf-8')
engine = create_engine(conn_string)

%reload_ext sql_magic
%config SQL.conn_name = 'engine'

In [ ]:
%%read_sql
USE imdb;
SHOW TABLES;

## a. Basic selection

#### Find the id, name, and year of movies called 'Casablanca'

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT id, name, year
FROM movies
WHERE name='Casablanca'
LIMIT 10;

#### Find all information about male actors who have first name Matthew

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT *
FROM actors
WHERE first_name = 'Matthew' AND gender = 'M'
LIMIT 10;

#### List the distinct movie roles, and remove null values

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT DISTINCT role
FROM roles
WHERE role IS NOT NULL
LIMIT 10;

#### List the distinct movie roles matching the phrase 'Old Man'

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT DISTINCT role
FROM roles
WHERE role LIKE '%%Old Man%%'
LIMIT 10;

#### List the distinct actor first-names that have four letters and end with `ate`. Sort them alphabetically.

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT DISTINCT first_name
FROM actors
WHERE first_name LIKE '_ate'
ORDER BY first_name
LIMIT 10;

### b. Additional Practice: Group by

#### List average ratings for the movies broken down by genre

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT G.genre, 
    ROUND(AVG(M.rank),2) AS avg_rating
FROM movies M
    INNER JOIN movies_genres G 
    ON M.id = G.movie_id
GROUP BY G.genre
ORDER BY avg_rating
LIMIT 10;

#### List all the movies from year 2000 and their average rating broken down by genre. 

Also list: 
- the maximum and minimum ratings
- the standard deviation of the ratings
- the number of rated movies and the total number of movies (`COUNT(*)` vs `COUNT(attr)`)

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT G.genre, 
    ROUND(AVG(M.rank),2) AS avg_rating,
    ROUND(STDDEV(M.rank),2) as stddev_rating,
    MAX(M.rank) AS max_rating,
    MIN(M.rank) AS min_rating,
    COUNT(*) AS num_movies,
    COUNT(M.rank) AS rated_movies
FROM movies M
    INNER JOIN movies_genres G 
    ON M.id = G.movie_id
WHERE M.year = 2000
GROUP BY G.genre
ORDER BY avg_rating
LIMIT 10;

#### What is the most frequent role, aside from an actor playing him/herself or a blank role (' ')?

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT role, COUNT(*) AS num_roles
FROM roles
WHERE role NOT LIKE '%%Himself%%' AND role NOT LIKE '%%Herself%%' AND role!=''
GROUP BY role
ORDER BY num_roles DESC
LIMIT 10;

#### How many movies are missing a rating in 2000, by genre?

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT G.genre, COUNT(*) as num_missing_ratings
FROM movies M
    INNER JOIN movies_genres G 
    ON M.id = G.movie_id
WHERE M.year = 2000 and M.rank IS NULL
GROUP BY G.genre
LIMIT 10;

#### Compute the average rank for the movies directed by Steven Spielberg

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT AVG(rank) as spielberg_avrage_rank
FROM movies M
    INNER JOIN movies_directors MD on M.id = MD.movie_id
    INNER JOIN directors D on D.id = MD.director_id
WHERE D.first_name = 'Steven' AND D.last_name='Spielberg'
LIMIT 10;

#### Obtain the movies of Brad Pitt, and compute the average rank for his movies

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT AVG(M.rank) as brad_pitt_average_rank
FROM movies M
    INNER JOIN roles R on M.id = R.movie_id
    INNER JOIN actors A on A.id = R.actor_id
WHERE A.first_name = 'Brad' AND A.last_name='Pitt'
LIMIT 10;

#### List the genre of the movies where Sean Connery appears, and rank them in descending order by count.
Exclude the movies where Sean Connery plays himself.

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT G.genre, COUNT(genre) as genre_count
FROM movies M
    INNER JOIN roles R on M.id = R.movie_id
    INNER JOIN actors A on A.id = R.actor_id
    INNER JOIN movies_genres G on M.id = G.movie_id
WHERE A.first_name = 'Sean' AND A.last_name='Connery' AND R.role not like '%%Himself%%'
GROUP BY G.genre
ORDER BY genre_count DESC
LIMIT 10;

#### Compute the average rank for the movies of each actor and rank the actors in descending order based on that rank

In [ ]:
%%read_sql

LIMIT 10;

**Answer:**
<span style="color:white">
%%read_sql
SELECT A.first_name, A.last_name, ROUND(AVG(M.rank),2) as avg_rank
FROM movies M
    INNER JOIN roles  R on M.id = R.movie_id
    INNER JOIN actors A on A.id = R.actor_id
GROUP BY actor_id
ORDER BY avg_rank DESC
LIMIT 10;