# SQL: Selection Queries

## Setup

We are now installing the necessary packages to interact with the MySQL database and issue SQL queries using the notebook.

In [ ]:
!apt-get install python3-mysqldb
!pip3 install -U sqlalchemy sql_magic

In [ ]:
%reload_ext sql_magic

In [ ]:
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/?charset=utf8'.format(
    host='db.ipeirotis.org',
    user='student',
    password='dwdstudent2015',
    encoding='utf-8')
engine = create_engine(conn_string)

In [ ]:
%config SQL.conn_name = 'engine'

## `SELECT *`

### IMDb

In [ ]:
%%read_sql
USE imdb

#### Return all movies

In [ ]:
%%read_sql
SELECT *
FROM movies

#### Return all directors

In [ ]:
%%read_sql
SELECT *
FROM directors

#### Return all actors

In [ ]:
%%read_sql
SELECT *
FROM actors

#### Return all roles

In [ ]:
%%read_sql
SELECT *
FROM roles

#### Return all genres for the movies

In [ ]:
%%read_sql
SELECT *
FROM movies_genres

### Facebook

In [ ]:
%%read_sql
USE facebook

#### Return all students

In [ ]:
%%read_sql
SELECT *
FROM Profiles

#### Return the hobbies of all students

In [ ]:
%%read_sql
SELECT *
FROM Hobbies

#### Return the relationship status for all students

In [ ]:
%%read_sql
SELECT *
FROM Relationship

#### Return what students are looking for

In [ ]:
%%read_sql
SELECT *
FROM LookingFor

## `SELECT` _attr_

### IMDb

In [ ]:
%%read_sql
USE imdb

#### Return the first and last names of actors

In [ ]:
%%read_sql
SELECT first_name, last_name
FROM actors

#### Return year and ranking for each movie

In [ ]:
%%read_sql
SELECT year, rank
FROM movies

### Facebook

In [ ]:
%%read_sql
USE facebook

#### Return Name, Sex, and Birthday of all students

In [ ]:
%%read_sql
SELECT Name, Sex, Birthday
FROM Profiles

#### Return Sex, and Political Views of all students

In [ ]:
%%read_sql
SELECT Sex, PoliticalViews
FROM Profiles

#### Return the Relationship status column

In [ ]:
%%read_sql
SELECT Status
FROM Relationship

## `SELECT` _attr_ `AS` _alias_

### IMDb

In [ ]:
%%read_sql
USE imdb

#### Return id, first, and last names of actors. Rename id to “actor_id”

In [ ]:
%%read_sql
SELECT id AS actor_id, first_name, last_name
FROM actors

#### Return name, year, and rank for each movie. Rename name to “movie_title”, year to “release_year”, and rank to “rating”

In [ ]:
%%read_sql
SELECT name AS movie_title, year AS release_year, rank AS rating
FROM movies

### Facebook

In [ ]:
%%read_sql
USE facebook

#### Return Sex and Status of all students. Rename Sex to Gender and Status to UniversityStatus

## `SELECT DISTINCT`

### IMDb

In [ ]:
%%read_sql
USE imdb

#### Find all the movie genres

### Facebook

In [ ]:
%%read_sql
USE facebook

#### Return the distinct PoliticalViews from the Profiles table

#### Return the distinct Sex values from the Profiles table

#### Find what students are “LookingFor”

#### Find all possible “Relationship” statuses

#### Find all possible Concentrations

## `ORDER BY` and `LIMIT`

### IMDb

In [ ]:
%%read_sql
USE imdb

### Facebook

In [ ]:
%%read_sql
USE facebook