<a href="https://colab.research.google.com/github/ipeirotis/introduction-to-databases/blob/master/session3/assignment_filtering_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 3: Filtering Queries Assignment


In this segment we will connect to the *Music* database.

## Setup

In [0]:
!apt-get install python3-mysqldb
!pip install sqlalchemy sql_magic

In [0]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/{db}?charset={encoding}'.format(
    host = 'db.ipeirotis.org', 
    user = 'student',
    db = 'music',
    password = 'dwdstudent2015',
    encoding = 'utf8mb4')

engine = create_engine(conn_string)
con = engine.connect()

In [0]:
%reload_ext sql_magic

In [0]:
%config SQL.conn_name = 'engine'

This is an example of how you can write an SQL query in the notebook. You write your SQL query after the `%%read_sql` line

In [0]:
%%read_sql
SELECT * 
FROM played

## Question 1: Show the entry for the artist with id equal to 5.

In [0]:
%%read_sql

## Question 2: Show the entry for the artist named `The Rolling Stones`

In [0]:
%%read_sql

## Question 3: Using the `id` of Rolling Stones from Question 2, list all the albums of `The Rolling Stones`

In [0]:
%%read_sql

## Question 4: Find the tracks for the artist with id `3`, from the artist's album with id `2`.

In [0]:
%%read_sql

## Question 5: Find the tracts with names that earlier alphabetically than (is less than) `M`.

Note that inequality queries can be used with text and not only with numbers.

In [0]:
%%read_sql

## Question 6: Find all albums with a title that begins with a character greater than `E` (*not* inclusive of albums that start with `E`) but less than `S` (again,  *not* inclusive of albums that start with `S`).

In [0]:
%%read_sql

## Question 7: List the 10 longest tracks in terms of time length.

In [0]:
%%read_sql

## Question 8: List all the tracts for the artists with ids 1, 3, and 5. Show two variations of the query. One query using the `OR` boolean condition, and one query using the `IN` operation.

In [0]:
%%read_sql
# Using the OR

In [0]:
%%read_sql
# Using the IN

## Question 9: Find all the tracks that include the word "Love" anywhere in the title. It is fine to include tracks where `love` is part of a bigger word (e.g, `lovebird`).

A bit of a complication: In the Colab environment, you need to enter the `%` character twice in a `LIKE` string instead of just once in MySQL Workbench.

In [0]:
%%read_sql

## Question 10: List all the tracks by artist with id `1` starting with the letter `L` and order them in descending order of time length.

In [0]:
%%read_sql